.body-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.log-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
  width: 33%;
  gap: 1rem;
  margin: 0 auto;
  overflow-y: scroll;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 100%;
  width: 33%;
  place-items: center;
  margin: 1rem auto;
}

.admin-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 75%;
  height: 95%;
  place-items: center;
  margin: 1rem auto;
  gap: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  place-items: center;
}
